/*! normalize.css v1.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0;
}

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}

/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  min-height: 100vh;
  color: #222;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c69797+0,9e6667+50,77393a+100 */
  background: #c69797;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #c69797 0%, #9e6667 50%, #380303 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c69797', endColorstr='#380303',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.is-hidden {
  display: none !important;
}

.diary {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 1000px;
  height: 700px;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.6);
}
.diary_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px 45px;
  border-radius: 4px;
  background: #361800;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.25), inset -1px -1px 1px rgba(0, 0, 0, 0.5);
}
.diary_bg:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 98%;
  height: 98%;
  border-radius: inherit;
  border: 1px dashed rgba(100, 100, 100, 0.7);
}
.diary_bg-left, .diary_bg-right {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  background: #e6e6e6;
}
.diary_bg-left {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: linear-gradient(to right, #e6e6e6 0%, #f7f7f7 27%, #fcfcfc 53%, #f7f7f7 70%, #cccccc 100%);
  box-shadow: -1px 0 0px #FAFAFA, -1px 0 0px #FAFAFA, -2px 0 0px #ECECEC, -3px 0 0px #FAFAFA, -4px 0 0px #ECECEC, -5px 0 0px #FAFAFA, -6px 0 0px #ECECEC, -7px 0 0px #FAFAFA, -8px 0 0px #ECECEC, -9px 0 0px #FAFAFA, -10px 0 0px #ECECEC, -11px 0 0px #FAFAFA, -12px 0 0px #ECECEC, -13px 0 0px #FAFAFA, -14px 0 0px #ECECEC, -15px 0 0px #FAFAFA;
}
.diary_bg-right {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: linear-gradient(to right, #cccccc 0%, #f7f7f7 30%, #fcfcfc 47%, #f7f7f7 73%, #e6e6e6 100%);
  box-shadow: 1px 0 1px #D1D1D1, 1px 0 0px #D1D1D1, 2px 0 0px #AAAAAA, 3px 0 0px #D1D1D1, 4px 0 0px #AAAAAA, 5px 0 0px #D1D1D1, 6px 0 0px #AAAAAA, 7px 0 0px #D1D1D1, 8px 0 0px #AAAAAA, 9px 0 0px #D1D1D1, 10px 0 0px #AAAAAA, 11px 0 0px #D1D1D1, 12px 0 0px #AAAAAA, 13px 0 0px #D1D1D1, 14px 0 0px #AAAAAA, 15px 0 0px #D1D1D1;
}
.diary_bg:after {
  content: '';
  display: table;
  clear: both;
}
.diary_content {
  position: relative;
  width: 970px;
  height: 670px;
  margin: 15px auto;
  z-index: 1;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.page {
  position: absolute;
  top: 0;
  width: calc(50% - 30px);
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.page.is-even {
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  right: 50%;
}
.page.is-even .page_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px 30px 50px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.page.is-even .page_content.is-top {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: inset 6px 0 6px rgba(0, 0, 0, 0.2), inset 1px 0 1px rgba(0, 0, 0, 0.2), inset -1px 0 0 #ccc;
  background: linear-gradient(to right, #cccccc 0%, #f7f7f7 30%, #fcfcfc 47%, #f7f7f7 73%, #e6e6e6 100%);
}
.page.is-even .page_content.is-bottom {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: inset -6px 0 10px rgba(0, 0, 0, 0.1), inset 1px 0 0 #F2F2F2;
  background: linear-gradient(to right, #fcfcfc 0%, #f9f9f9 27%, #fcfcfc 53%, #f7f7f7 70%, #cccccc 100%);
}
.page.is-odd {
  left: 50%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.page.is-odd .page_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px 30px 50px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.page.is-odd .page_content.is-top {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: inset 6px 0 6px rgba(0, 0, 0, 0.2), inset 1px 0 1px rgba(0, 0, 0, 0.2), inset -1px 0 0 #ccc;
  background: linear-gradient(to right, #cccccc 0%, #f7f7f7 30%, #fcfcfc 47%, #f7f7f7 73%, #e6e6e6 100%);
}
.page.is-odd .page_content.is-bottom {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: inset -6px 0 10px rgba(0, 0, 0, 0.1), inset 1px 0 0 #F2F2F2;
  background: linear-gradient(to right, #fcfcfc 0%, #f9f9f9 27%, #fcfcfc 53%, #f7f7f7 70%, #cccccc 100%);
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.page_body {
  width: 100%;
  table-layout: fixed;
  font-size: 11px;
}
.page_body th {
  border-bottom: 1px solid #ccc;
}
.page_body th a {
  color: #222;
  outline: none !important;
  display: inline-block;
  position: relative;
}
.page_body th a.is-active:after {
  content: ' ';
  height: 0;
  top: 8px;
  right: -8px;
  position: absolute;
  width: 0;
  border: 3px solid transparent;
  border-top-color: #333;
}
.page_body th,
.page_body td {
  text-align: left;
  padding: 3px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page_body th + th, .page_body th + td,
.page_body td + th,
.page_body td + td {
  border-left: 1px solid #ccc;
}
.page_body th input,
.page_body td input {
  width: 100%;
  background-color: transparent;
  border: none;
}
.page_body tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.03);
}
.page_body .page_body-id {
  width: 10%;
}
.page_body .page_body-date {
  width: 19%;
}
.page_body td.page_body-date {
  font-size: 9px;
}
.page_body .page_body-product {
  width: 27%;
}
.page_body .page_body-price {
  width: 15%;
}
.page_body .page_body-price input::-webkit-inner-spin-button,
.page_body .page_body-price input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.page_body td.page_body-count input {
  outline: none !important;
}
.page_body .page_body-count {
  width: 11%;
}
.page_body .page_body-total {
  width: 20%;
}
.page_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.page_footer:after {
  content: '';
  display: table;
  clear: both;
}

.control_arrow {
  position: absolute;
  top: 3px;
  width: 34px;
  height: 34px;
  margin: 3px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px #787878;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: all .2s;
}
.control_arrow:hover {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 0 0px #CCCCCC;
}
.control_arrow:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30%;
  height: 30%;
  box-shadow: inset -2px -2px 0 #787878;
}
.control_arrow.is-right {
  left: 15px;
}
.control_arrow.is-right:before {
  margin-left: 39%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.control_arrow.is-left {
  right: 15px;
}
.control_arrow.is-left:before {
  margin-right: 39%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
