.control{

  &_arrow{
    position: absolute;
    top: 3px;
    width: 34px;
    height: 34px;
    margin: 3px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px #787878;
    background: rgba(255,255,255,0);
    cursor: pointer;
    transition: all .2s;
    // z-index: 1;


    &:hover{
      background: rgba(255,255,255,.8);
      box-shadow: inset 0 0 0 0px #CCCCCC;
    }

    &:before{
      content: '';
      position: absolute;
      top: 0;left: 0;right: 0;bottom: 0;
      margin: auto;
      width: 30%;
      height: 30%;
      box-shadow: inset -2px -2px 0 #787878;
    }

    &.is-right{
      left: $pageCornerRadius / 2;
      &:before{
        margin-left: 39%;
        transform-origin: 50% 50%;
        transform: rotate(135deg);
      }
    }
    &.is-left{
      right: $pageCornerRadius / 2;
      &:before{
        margin-right: 39%;
        transform-origin: 50% 50%;
        transform: rotate(-45deg);
      }
    }
  }
}