.diary{

  position: absolute;
  top: 50%;
  left: 0; right: 0;
  width: $diaryW;
  height: $diaryH;
  margin: 0 auto;
  transform: translateY(-50%);
  box-shadow: 0 4px 6px -3px rgba(0,0,0,.6);

  &_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px 45px;
    border-radius: 4px;
    background: #361800;

    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 0;right: 0;
      left: 0;bottom: 0;
      margin: auto;
      width: 98%;
      height: 98%;
      border-radius: inherit;
      border: 1px dashed rgba(100,100,100,.7);
    }

    &-left,
    &-right{
      position: relative;
      float: left;
      width: 50%;
      height: 100%;
      background: #e6e6e6;
    }

    &-left{
      border-top-left-radius: $pageCornerRadius;
      border-bottom-left-radius: $pageCornerRadius;
      background: linear-gradient(to right,  rgba(230,230,230,1) 0%,rgba(247,247,247,1) 27%,rgba(252,252,252,1) 53%,rgba(247,247,247,1) 70%,rgba(204,204,204,1) 100%);
      @include paperStack('left', $pageCornerRadius / 2);
    }
    &-right{
      border-top-right-radius: $pageCornerRadius;
      border-bottom-right-radius: $pageCornerRadius;
      background: linear-gradient(to right,  rgba(204,204,204,1) 0%,rgba(247,247,247,1) 30%,rgba(252,252,252,1) 47%,rgba(247,247,247,1) 73%,rgba(230,230,230,1) 100%);
      @include paperStack('right', $diaryPadding / 2);
    }

    @include bevel(1px,.5);
    @include clearfix();
  }


  &_content{
    position: relative;
    width: $diaryW - $diaryPadding;
    height: $diaryH - $diaryPadding;
    margin: $diaryPadding /2 auto;
    // padding: 15px 45px;
    z-index: 1;
    perspective: $perspective;
  }

}