.page{

  position: absolute;
  top: 0;
  width: calc(50% - #{$diaryPadding});
  height: 100%;
  transform-style: preserve-3d;
  // transition: all 1s;

  &.is-even{

    transform-origin: 100% 0;
    transform: rotateY(180deg);
    right: 50%;

    // &.is-flipped{
      // transform: rotateY(0deg);
    // }

    .page_content{

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: $diaryPadding $diaryPadding $pageFooterHeight;
      transform-style: preserve-3d;
      backface-visibility: hidden;

      &.is-top{
        transform: rotateY(-180deg);
        border-top-right-radius: $pageCornerRadius;
        border-bottom-right-radius: $pageCornerRadius;
        box-shadow: inset 6px 0 6px rgba(0,0,0,.2),inset 1px 0 1px rgba(0,0,0,.2), inset -1px 0 0 #ccc;
        background: linear-gradient(to right,  rgba(204,204,204,1) 0%,rgba(247,247,247,1) 30%,rgba(252,252,252,1) 47%,rgba(247,247,247,1) 73%,rgba(230,230,230,1) 100%);
      }

      &.is-bottom{
        border-top-left-radius: $pageCornerRadius;
        border-bottom-left-radius: $pageCornerRadius;
        box-shadow: inset -6px 0 10px rgba(0,0,0,.1), inset 1px 0 0 #F2F2F2;
        background: linear-gradient(to right, rgba(252,252,252,1) 0%,rgba(249,249,249,1) 27%,rgba(252,252,252,1) 53%,rgba(247,247,247,1) 70%,rgba(204,204,204,1) 100%);
      }

    }
  }
  &.is-odd{

    left: 50%;
    transform-origin: 0 0;

    // &.is-flipped{
      // transform: rotateY(-181deg);
    // }

    .page_content{

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: $diaryPadding $diaryPadding $pageFooterHeight;
      transform-style: preserve-3d;
      backface-visibility: hidden;

      &.is-top{
        border-top-right-radius: $pageCornerRadius;
        border-bottom-right-radius: $pageCornerRadius;
        box-shadow: inset 6px 0 6px rgba(0,0,0,.2),inset 1px 0 1px rgba(0,0,0,.2), inset -1px 0 0 #ccc;
        background: linear-gradient(to right,  rgba(204,204,204,1) 0%,rgba(247,247,247,1) 30%,rgba(252,252,252,1) 47%,rgba(247,247,247,1) 73%,rgba(230,230,230,1) 100%);
      }

      &.is-bottom{
        border-top-left-radius: $pageCornerRadius;
        border-bottom-left-radius: $pageCornerRadius;
        box-shadow: inset -6px 0 10px rgba(0,0,0,.1), inset 1px 0 0 #F2F2F2;
        background: linear-gradient(to right, rgba(252,252,252,1) 0%,rgba(249,249,249,1) 27%,rgba(252,252,252,1) 53%,rgba(247,247,247,1) 70%,rgba(204,204,204,1) 100%);
        transform: rotateY(-180deg);
      }
    }
  }

  // &_head{
  //   font-weight: 100;
  //   font-size: 18px;
  //   padding-bottom: $diaryPadding / 2;
  //   margin-bottom: $diaryPadding / 2;
  //   box-shadow: inset 0 -1px 0 #ccc;
  // }

  &_body{
    width: 100%;
    table-layout: fixed;
    font-size: 11px;

    th{
      border-bottom: 1px solid #ccc;
      a{
        color: #222;
        outline: none !important;
        display: inline-block;
        position: relative;

        &.is-active:after{
          content: ' ';
          height: 0;
          top: 8px;
          right: -8px;
          position: absolute;
          width: 0;
          border: 3px solid transparent;
          border-top-color: #333;
        }
      }
    }

    th,
    td{
      text-align: left;
      padding: 3px 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      & + th,
      & + td{
        border-left: 1px solid #ccc;
      }

      input{
        width: 100%;
        background-color: transparent;
        border: none;
      }
    }
    tr:nth-child(even){
      background: rgba(0,0,0,0.03);
    }
    .page_body-id{
      width: 10%;
    }
    .page_body-date{
      width: 19%;
    }
    td.page_body-date{
      font-size: 9px;
    }
    .page_body-product{
      width: 27%;
    }
    .page_body-price{
      width: 15%;
      input::-webkit-inner-spin-button,
      input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    td.page_body-count{
      // padding: 0;
      input{
        outline: none !important;
      }
    }
    .page_body-count{
      width: 11%;
    }
    .page_body-total{
      width: 20%;
    }
  }

  &_footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: $pageFooterHeight;
    transform: translate3d(0,0,0);
    // background: #fff;
    backface-visibility: hidden;
    @include clearfix();
  }
}

