<!DOCTYPE html>
<html lang="en" ng-app="Diary">
<head>
  <meta charset="UTF-8">
  <title>Book</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/angular.min.js"></script>
  <script src="js/angular-animate.min.js"></script>
  <script src="js/modules/angular-local-storage.js"></script>
  <script src="js/TweenMax.min.js"></script>
  <script src="js/app.js"></script>
</head>
<!--











SRC: https://bitbucket.org/cxlvii/css-3d-flip-book/












 -->
<body ng-controller="globalCtrl">
  <div class="floating-panel">
    <a style="color: #aeaeae;padding: 5px;font-size: 12px; float: right;" href="#" ng-click="reset()">reset</a>
  </div>
  <div class="diary">
    <div class="diary_bg">
      <div class="diary_bg-left"></div>
      <div class="diary_bg-right"></div>
    </div>
    <div class="diary_content">

        <div ng-controller="pageCtrl" class="page" style="z-index:{{zIndex}}" ng-repeat="sheet in localDB.table" ng-class="{'is-first':$first, 'is-last':$last, 'is-even':$even,'is-odd':$odd, 'is-flipped':stateFlipped }">
          <div class="page_content" ng-repeat="page in sheet" ng-class="{'is-top':$first, 'is-bottom':$last}" ng-cloak>
            <table class="page_body">
              <thead>
                <tr>
                  <th class="page_body-date">
                    Date
                  </th>
                  <th class="page_body-product">
                    Product
                  </th>
                  <th class="page_body-price">
                    Price
                  </th>
                  <th class="page_body-count">
                    Qt
                  </th>
                  <th class="page_body-total">
                    Total
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in page | orderBy:sortType:sortReverse" ng-controller="itemCtrl">
                  <td class="page_body-date" ng-bind="row.date | date:'short'"></td>
                  <td class="page_body-product">
                    <input ng-change="onRowUpdate($index, $parent.$parent.$index, $parent.$parent.$parent.$index)" type="text" ng-model="row.item">
                  </td>
                  <td class="page_body-price">
                    <input ng-change="onRowUpdate($index, $parent.$parent.$index, $parent.$parent.$parent.$index)" type="number" ng-model="row.price">
                  </td>
                  <td class="page_body-count">
                    <input ng-change="onRowUpdate($index, $parent.$parent.$index, $parent.$parent.$parent.$index)" type="number" min="1" ng-model="row.count">
                  </td>
                  <td class="page_body-total">
                    <span ng-bind="row.total" title="{{row.total}}"></span>
                    <a href="#" class="control_row-delete" ng-click="rowDelete()"></a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="page_footer">
              <div class="control_arrow" ng-click="flip()" ng-class="{'is-right':$odd, 'is-left':$even}"></div>
            </div>
          </div>
        </div>

      </div>

  </div>
  <!-- <script src="js/live.js"></script> -->
</body>
</html>