html{
  min-height: 100vh;
  color: #222;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c69797+0,9e6667+50,77393a+100 */
  background: #c69797; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #c69797 0%, #9e6667 50%, #380303 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #c69797 0%,#9e6667 50%,#380303 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #c69797 0%,#9e6667 50%,#380303 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c69797', endColorstr='#380303',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
*,
*:before,
*:after{
  box-sizing: border-box;
}
body{

  font-family: $ffamily;

}


.is-hidden{
  display: none !important;
}


