$diaryW: 1000px;
$diaryH: 700px;
$ffamily: 'Roboto', sans-serif;
$pageCornerRadius: 30px;
$pageFooterHeight: 50px;
$diaryPadding: 30px;

$perspective: 1000px;


@mixin bevel($amount, $opacity) {
  box-shadow: inset $amount $amount $amount rgba(255,255,255, $opacity/2), inset -#{$amount} -#{$amount} $amount rgba(0,0,0,$opacity);
}

@mixin clearfix() {
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}

@function leftPaperStack($steps){
  $result: '-1px 0 0px #FAFAFA';
  @for $i from 1 through $steps / 1px {
    @if $i % 2 == 0{
      $result: '#{$result}, -#{$i}px 0 0px #ECECEC';
    }@else{
      $result: '#{$result}, -#{$i}px 0 0px #FAFAFA';
    }
  }
  @return unquote($result);
}

@function rightPaperStack($steps){
  $result: '1px 0 1px #D1D1D1';
  @for $i from 1 through $steps / 1px {
    @if $i % 2 == 0{
      $result: '#{$result}, #{$i}px 0 0px #AAAAAA';
    }@else{
      $result: '#{$result}, #{$i}px 0 0px #D1D1D1';
    }
  }
  @return unquote($result);
}

@mixin paperStack($side, $steps) {
  @if $side == "right" {
    box-shadow: rightPaperStack($steps);
  } @else if $side == "left"{
    box-shadow: leftPaperStack($steps);
  }
}